.wrapper {
    height: 100vh;
    display: grid;
    place-content: center;
    justify-items: start;
    grid-gap: 20px;
    border: 1px solid #000;
}

.container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-gap: 20px;
    grid-auto-rows: 200px;
    justify-items: start;
    justify-content: center;
}
