.game {
    &-container {
        width: 600px;
        padding: 8px 14px;
        margin: 0 auto;

        display: grid;
        grid-template-rows: auto auto 1fr;
    }

    &-buttons {
        display: flex;
        flex-direction: row-reverse;
    }

    &-field {
        position: relative;
        display: grid;

        align-content: center;

        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 200px;

        justify-items: start;
        justify-content: center;
        grid-gap: 10px;
    }
}

.winner {
    &__x-turn,
    &__y-turn {
        font-family: 'Press Start 2P', cursive;
        color: #fff;
        padding: 8px 14px;
    }

    &__x-turn {
        background: #e74c3c;
    }

    &__y-turn {
        background: #e67e22;
    }
}
