@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.field {
    width: 200px;
    height: 200px;

    line-height: 200px;
    text-align: center;
    font-size: 65px;

    background: #2c2c54;
    color: #fff;
    text-transform: uppercase;

    font-family: 'Press Start 2P', cursive;
    position: relative;

    &__x-turn {
        background: #e74c3c;
    }

    &__y-turn {
        background: #e67e22;
    }

    &:before {
        width: 100%;
        position: absolute;
        display: none;

        top: 0;
        left: 0;

        background: #e74c3c;
    }

    &.hover__x-turn:hover {
        &:before {
            display: block;
            content: 'X';
        }
    }

    &.hover__y-turn:hover {
        &:before {
            display: block;
            content: 'Y';
            background: #e67e22;
        }
    }
}
