@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.field {
    width: 200px;
    height: 200px;
    border-left: 0;
    border-top: 0;
    font-size: 65px;
    text-align: center;
    line-height: 200px;
    text-transform: uppercase;
    font-family: 'Press Start 2P', cursive;
    background: #2c2c54;
    color: #fff;
}
