body {
    margin: 0;
    padding: 0;
    background: #2c2c54;
}

.wrapper {
    width: 1140px;
    margin: 0 auto;
}

.app {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-auto-rows: 100vh;
    background: #40407a;
}

.game-buttons {
    text-align: center;

    &__icon {
        font-size: 50px;
        margin: 10px;
        color: #fff;
    }

    &__title {
        font-family: 'Press Start 2P', cursive;
        font-size: 14px;
        padding: 8px 14px;
        margin: 10px;
        text-transform: capitalize;
        line-height: 1.4em;
    }
}
