.winners {
    display: grid;
    align-content: start;
    grid-auto-rows: 50px;
}

.winner {
    background-color: gray;
    padding: 8px 14px;
    color: white;

    &:nth-child(odd) {
        background-color: gainsboro;
        color: #000;
    }
}
